.front-whatcar-div {
	width: 450px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

.front-whatcar-h4 {
	margin: 0 !important;
	color: #4D94D0;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: lighter;
}

.front-whatcar-try {
	background: url(/img/assets/round_btn.png);
    width: 122px;
    height: 43px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.front-whatcar-icon-div {
	text-align: center;
}

.front-whatcar-input {
	width: 80%;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    border-radius: 6px;
    border-color: lightgrey;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    margin: 15px auto;
}
.front-whatcar-icon-div-margin {
	margin-top: 30px;
}

.front-whatcar-continue-div {
	margin: 0 auto;
	width: 122px;
}

.front-whatcar-try-div-bg {
	width: 450px;
    height: 550px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.95;
}
